:root {
    --code-bg-color: lightgray;
}

*{
    box-sizing: border-box;
}

/* BEGIN#Molten_Leading
 * https://css-tricks.com/molten-leading-css/
 */
body {
    font-size: 1em;
    line-height: 1.4em;
}

@media screen and (min-width: 20em) {
    body {
        font-size: calc(1em + (1.3125 - 1) * ((100vw - 20em) / (80 - 20)));
        line-height: calc(1.4em + (1.8 - 1.4) * ((100vw - 20em) / (80 - 20)));
    }
}

@media (min-width: 80em) {
    body {
        font-size: 1.3125em;
        line-height: 1.8em;
    }
}
/* END#Molten_Leading */

.ejemplo pre {
    line-height: 1;
    font-size: 0.8em;
}

a:visited, .visited-link {
   color: green;
}

a, .new-link {
    color: darkred;
}

.soon::before {
    content: '🙏 ';
}

.soon  {
    background-color: yellow;
}

body {
    text-align: justify;
}

p {
    text-indent: 1em;
}

.ejemplo {
    width: 80%;
    margin: 1em auto 1em auto;
}

code {
    background-color: var(--code-bg-color);
}
.ejemplo pre {
    background-color: var(--code-bg-color);
    overflow-x: auto;
}

.ejemplo > pre, .ejemplo .salida {
    border: 1px solid black;
    padding: 1em;
    margin-top: 0px;
}

.ejemplo > h6 {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0.5em;
    color: white;
    background-color: black;
    font-variant: small-caps;
    font-size: 0.8em;
}

.ejemplo h6 a {
    color:azure;
}

.consejo::before {
    content: "💡 ";
}

.advertencia::before {
    content: "⚠ ";
}

.consejo, .advertencia {
    width: 70%;
    margin: 1em auto auto auto;
    padding: 1em;
    border-radius: 5px;
}

.consejo {
    border: 3px solid blue;
    background-color: rgb(177, 177, 252);
}

.advertencia {
    border: 3px solid rgb(255, 217, 0);
    background-color: rgb(253, 245, 201);
}

/* Based on: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure */
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 1em;
    max-width: 90%;
    margin: 1em auto;
}

figure img {
    max-width: 80%;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

.w-50 {
    width: 50%;
} 
/* END */

label {
    display: block;
}

.validation-message {
    display: block;
    padding-top: 0.4em;
    color: red;
}

dt {
    font-weight: bold;
}
