{% extends layout.html %}

{% block title %}{{ $title }}{% endblock %}

{% block header %}
@parent
<h2>Personalized welcome!</h2>
{% endblock %}

{% block content %}
<p>Welcome to the home page, list of colors:</p>
<ul>
    {% foreach($colors as $color): %}
    <li>{{ $color }}</li>
    {% endforeach; %}
</ul>
{% endblock %}